@page "/"

<NavComponent />
@* <MenuComponent />
<CarouselComponent />
<CardListComponent /> *@


<div id="viewport" class ="d-flex vh-100">
    <AsideComponent OnChange="OnChange"/>
    <ProductComponent />
</div>

@code{
    void OnChange()
    {
    
    }
}