@page "/"
@inject UIService Service

<NavComponent />
@* <MenuComponent />
<CarouselComponent />
<CardListComponent /> *@


<div id="viewport" class ="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
        <AsideComponent OnChange="OnChange"/>
        <ProductComponent />
    </CascadingValue>
</div>

@code{
    void OnChange()
    {
    
    }
}