@using eShop.UI.Models.Link

<articel>
    <div class="bg-danger text-white p-2"><strong>@LinkGroup?.Name</strong></div>
    <div class="d-flex flex-column">
        @foreach (var link in LinkGroup!.LinkOptions)
        {
            <LinkComponent LinkOption="link" OnLinkClick="OnLinkPress" />
        }
    </div>
</articel>

@code {
    [Parameter] public LinkGroup? LinkGroup { get; set; }
    [Parameter] public EventCallback<int> OnAsideCall { get; set; }

    void OnLinkPress(int id)
    {
        if (OnAsideCall.HasDelegate)
            OnAsideCall.InvokeAsync(id);
    }
}
